// CONTACT SECTION

@import 'variables.scss';

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    transition: 2s all;

    max-width: 180rem;
    width: 80%;

    // FADE IN
    opacity: 1;
    transform: translateY(0);

    // Move up slighly on larger screens
    @media only screen and (min-height: 1300px) {
            justify-content: flex-start;
    }

    @media screen and (max-width: $breakpoint1) {
        width: 80%;
    }

    @media screen and (max-width: $breakpoint2) {
        width: 60%;
    }

    @media screen and (max-width: $breakpoint4) {
        width: 80%;
    }

    @media only screen and (max-width: $breakpoint6)  {
        min-height: 63vh;
    }

    @media only screen and (max-width: 375px)  {
        min-height: 62vh;
    }

    &__header {
        padding-right: 10rem;

        @media only screen and (max-width: $breakpoint3) {
            align-self: center;
            padding-right: 2rem;
        }
    }

    &__subheader {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin: 3rem 0;
        color: $color-font-primary;

        @media screen and (max-width: $breakpoint2) {
            display: none;
        }
    }

    &__text {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    &__form-map-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $breakpoint2) {
            flex-direction: column-reverse;
            align-items: start;
        }
    }

    // FORM DIV IS FOUND IN COMPONENTS SECTION

    &__map-box {
        position: relative;
        flex: 2;
        width: 80%;
        margin-bottom: 5rem;

        @media screen and (max-width: $breakpoint2) {
            display: none;
        }

        &__text {
            z-index: 90;
            position: absolute;
            top: 2rem;
            right: 1rem;
            padding: 5rem;
            background-color: rgba(4, 7, 33, .7);
            color: $color-font-primary;
            font-size: 2rem;
            border-radius: .5rem;

            @media screen and (max-width: $breakpoint2) {
                top: 1rem;
            }
        }
    }

    // Map style
    &__map {
        margin-left: 4rem;
        border-radius: .5rem;
        filter: grayscale(1) sepia(30%) hue-rotate(180deg) saturate(300%);  // Turn blue
        transition: .5s all;
        width: 100%;
        align-self: start;
        position: relative;
        top: 1rem;
        
        &:hover {
            filter: none;   // Remove blue
        }

        @media screen and (max-width: $breakpoint2) {
            margin-left: 0;
            margin-bottom: 3rem;
            filter: none;
            top: 0;
        }

        @media screen and (max-width: $breakpoint4) {
            height: 40rem;
        }

        @media screen and (max-width: $breakpoint5) {
            height: 45rem;
        }
    }
}