// HERO SECTION

@import 'variables.scss';

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20rem;
    width: 100%;

    @media only screen and (max-width: $breakpoint6) {
        padding-top: 10rem;
        height: 75vh;
    }

    //Hero title
    &__title {
        font-size: 6rem;

        // Colour name
        &--name {
            color: $color-primary;
        }

        @media only screen and (max-width: $breakpoint6) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $breakpoint8) {
            font-size: 3.6rem;
        }
    }

    &__sub-title {
        font-size: 5rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $breakpoint6) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $breakpoint8) {
            font-size: 3.6rem;
        }
    }

    // Custom font for developer --> line padded to right
    &__dev {
        font-family: 'Dancing Script', cursive;
        font-size: 8rem;
        border-bottom: 4px solid $color-primary;
        padding-right: 25vw;
        text-shadow: 3px 3px rgba($color-primary, .5);

        @media only screen and (max-width: $breakpoint2) {
            padding-right: 17.5vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            padding-right: 12.5vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            font-size: 6rem;
            padding-right: 7.5vw;
        }

        @media only screen and (max-width: $breakpoint8) {
            font-size: 5.2rem;
            padding-right: 2.5vw;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // Hero text caption
    &__text {
        font-size: 2rem;
        font-family: monospace;
        line-height: 1.5;
        width: 60rem;
        margin-bottom: 5vh;
        animation: fadeInUp2 1.5s ease;

        @media only screen and (max-width: $breakpoint3) {
            width: 50vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            width: 30rem;
            font-size: 1.6rem;
        }
    }

    // Contact me button
    &__button {
        align-self: flex-start;
        text-decoration: none;
    }

    &__scroll-down {
        align-self: center;
        height: 3rem;
        animation: bounce linear 8;
    }
}