// VARIABLES

$color-bg: #040721;
$color-bg-2: #0c135d;
$color-font-primary: #eee;
$color-font-secondary: #d5d5d5;
$color-primary: #7accff;
$color-primary-faded: #bee6ff;
$color-primary-faded-2: #e0f3ff;

$breakpoint1: 1400px;
$breakpoint2: 1200px;
$breakpoint3: 900px;
$breakpoint4: 750px;
$breakpoint5: 600px;
$breakpoint6: 500px;
$breakpoint7: 400px;
$breakpoint8: 325px;
$breakpoint9: 1050px; // For about me section