// WORK SECTION

@import 'variables.scss';

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-top: 20rem;    

    @media only screen and (max-width: $breakpoint6) {
        width: 100%;
    }

    // Move up slighly on larger screens
    @media only screen and (min-height: 1300px) {
        justify-content: flex-start;
    }

    &__header {
        align-self: flex-start;
        padding-right: 10rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $breakpoint2) {
            align-self: center;
            padding-right: 2rem;
        }

        @media only screen and (max-width: $breakpoint6) {
            font-size: 3rem;
        }
    }

    &__sub-header {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 0;
        background-color: $color-primary-faded;
        color: $color-bg;
        text-transform: uppercase;

        @media only screen and (max-width: $breakpoint6) {
            width: 100vw;
            padding: 1.5rem 0;
            font-size: 1.6rem;
        }
    }

    // Box for language, tool icons
    &__languages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        padding: 5rem;
        width: 100%;


        @media only screen and (max-width: $breakpoint2) {
            width: 80vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 4rem;
            padding: 3rem;
            margin-bottom: 2.5rem;
        }

        @media only screen and (max-width: $breakpoint4) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media only screen and (max-width: $breakpoint5) {
            width: 80vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            width: 90vw;
            grid-template-columns: 50% 50%;
            grid-template-rows: repeat(4, 1fr);
            row-gap: 4rem;
            padding: 1rem;
            margin-top: 3rem;
            margin-bottom: 10rem;
        }

        &__header {
            text-align: center;
        }

        // Language icons
        &__icon {

            height: 9rem;

            &-box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__text {
                font-family: 'Roboto Mono', monospace;;
                margin-top: 1.2rem;
                font-size: 1.4rem;  
            }
        }
    }

    // PROJECT SECTION
    &__projects {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;

        margin-top: 5vh;
        
        &__project {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__image {
                padding: 0rem 5rem;
                height: 80rem;

            }
            &__info {
                padding: 5rem;
                background-color: $color-font-primary;
                display: flex;
                flex-direction: column;
                border-radius: .5rem;
                color: $color-bg;
                border: 5px solid $color-primary-faded;
                box-shadow: 3px 3px 3px 5px rgba($color-primary-faded-2, .2);
                width: 60rem;
            }

            &__header {
                font-size: 5rem;
                font-weight: 300;
                letter-spacing: 2px;
                margin-bottom: 1.5rem;
            }
            &__header--2 {
                @extend .work__projects__project__header;
                font-size: 3rem;
                letter-spacing: 1.5px;
            }

            &__text {
                font-size: 2rem;
                margin-bottom: 3rem;
                color: #888;
                font-family: monospace;

                & > * {
                    margin-bottom: 1rem;
                    margin-left: 4rem;
                }
            }

            &__link-box {
                margin-top: 2rem;
                display: flex;

                :nth-child(1) {
                    margin-right: 2rem;
                }
            }

            &__link {
                padding: 1.2rem;
                background: $color-orange;
                border-radius: .3rem;
                font-size: 2rem;
                color: $color-font-primary;
                transition: .5s all;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    background: $color-primary;
                }
            }
        }
    }
}